{% block header %}
<h1>Site Header</h1>
{% endblock %}

{% block navigation %}
<div>
<a href="index.html">Home</a> |
<a href="about.html">About</a> 
</div>
{% endblock %}

<h2>{{ pagename }}</h2>

<section class="content">
  {% block content %}{% endblock %}
</section>

<section class="variabletest">
  {% block variabletest %}{% endblock %}
</section>