<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ docTitle }}</title>
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body>

		<div class="site-header">
			<a href="../">&laquo; Gulp by Examples</a>
		</div>

		<div class="main-content">
