
		</div><!-- end of .main-content -->
		<div class="bottom-links">
			<div class="link left">
			{% if prevLink.url %}
				<a href="{{ prevLink.url }}">&laquo; Previous: {{ prevLink.title }}</a>
			{% endif %}
			&nbsp;</div>
			<div class="link center">
				<a href="../">Back to Home</a>
			</div>
			<div class="link right">&nbsp;
			{% if nextLink.url %}
				<a href="{{ nextLink.url }}">&raquo; Next: {{ nextLink.title }}</a>
			{% endif %}
			</div>
		</div>
		<div class="site-footer">
			Gulp by Examples | Source code is available at <a href="https://gitlab.com/adnan360/gulp-examples">GitLab</a>
		</div>
	</body>
</html>