* {
	margin:0;
	padding:0;
}

body {
	background: #fbf1da;
	padding: 10px 300px;
}

.main-content {
	padding-bottom:20px;
}

h1, h2, h3, h4 {
	color:#333;
	margin:15px 0;
}

/* Common text body style */
p, li {
	font-family:serif;
	font-size: 18px;
	color:#444;
	margin:10px 0;
	line-height: 1.2em;
}

p {
	line-height: 1.6em;
	margin:15px 0;
}

ul, ol {
	padding-left:25px;
}

pre {
	/*border:1px solid #e8a9a9;*/
	background:#f0e4ca;
	border-radius:5px;
	padding: 10px 15px;
	font-size: 20px;
	color: #372b0f;
	overflow-x:auto;
}

p > code, li > code {
	background: #fdfaf2;
	padding: 2px 6px;
	border-radius: 6px;
}

.site-header {
	padding: 5px 0 10px;
}

.site-heading, h1 {
	font-size: 45px;
	text-align:center;
	margin:30px 0 40px;
}

.bottom-links {
	padding: 15px 0;
	border-top: 1px solid #f0e4ca;
}

.bottom-links > * {
	float: left;
	width: 33.33%;
}

.bottom-links .link.center {
	text-align:center;
}

.bottom-links:after {
	content: "";
	display: table;
	clear: both;
}

.bottom-links .link.left {
	text-align:left;
}

.bottom-links .link.right {
	text-align:right;
}

.site-footer {
	padding: 20px 0 10px;
	text-align: center;
	border-top: 1px solid #f0e4ca;
}