<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Gulp by Examples</title>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
	<div class="main-content homepage">
		<h1>Gulp by Examples</h1>
		<p>This is a gift to you for being a web dev! And it&#39;s a wonderful gift a web dev can have. It will reduce all your woes and worries of generating &amp; deploying web apps and save you from thousands of keypresses everyday. It will be a faithful servent throughout your dev journey. Feel free to browse through the articles below:</p>
		{% for article in articles %}
		<h3><a href="{{ article.dir }}/">{{ article.title }}</a></h3>
		<p>{{ article.desc }}</p>
		{% endfor %}
	</div>
	</body>
</html>